<div class="modular-row team">
    {{ content }}
    <div class="members">
        {% for member in page.header.members %}
        <div class="member">
            <img src="{{page.media[member.image].url}}" class="img-responsive img-circle" alt="">
            <h4>{{ member.name }}</h4>
            <span>{{ member.title }}</span>
            <hr>
            <p>{{ member.info }}</p>
	    <ul class="social-icons">
              {% for network in member.social %}
                 <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
              {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
    <div class="callout-line"></div>
</div>
